<footer class="footer spad">
    <div class="container">
      <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="footer__about">
       <div class="footer__about__logo">
      <a href="{{ url_for('showBooks',page = 1)}}"><img width=20% height=20% src="{{ url_for('static',filename='img/logo.png') }}" alt=""></a>
      </div>
      <ul>
      <li>12 liniya VO, 51</li>
      <li>Phone: 8(800)-555-35-35</li>
      </ul>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <div class="footer__copyright">
      <div class="footer__copyright__text"><p>
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="baea7c064f6a573d1522ee04-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved
      </p></div>
      <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
      </div>
      </div>
      </div>
      </div> 
  </footer>