<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
    <a href="{{ url_for('showBooks',page = 1)}}"><img src="{{ url_for('static',filename='img/logo.png') }}" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
    <ul>
    <li>
      <a href="/cart">
      <i class="fa fa-shopping-bag"></i>
      {% if user.is_authenticated %}
       <span id="humberg__fa__fa-shopping-bag__indicator__quantity">{{user.getCountOfItemsInCart()}}</span>
       {% else %}
       <span id="fa__fa-shopping-bag__indicator__quantity">0</span>
       {% endif %}
    </a>
    </li>
    </ul>
    {% if user.is_authenticated %}
    <div class="header__cart__price">В корзине: <span id="humberg__header__cart__price__totalCost">{{user.getTotalCostOfCart()}}P</span></div>
    {% else %}
    <div class="header__cart__price">В корзине: <span>0.0P</span></div>
    {% endif %}
    </div>
    <div class="humberger__menu__widget">
      {% if user.is_authenticated %}
      <div class="header__top__right__auth">
        <a href="{{url_for('userInfo')}}"><i class="fa fa-user"></i>Профиль</a>
        </div>
      {% else %}
    <div class="header__top__right__auth">
    <a href="{{url_for('loginUser')}}"><i class="fa fa-user"></i>Вход</a>
    </div>
      {% endif %}
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
    <ul>
    <li>Закажи, прочитай, поумней</li>
    </ul>
    </div>
    </div>
<!-- Humberger End -->