<!DOCTYPE html> 
<html> 
  <head><title>Админ-статистика</title></head>
 
  
<body> 
    <form method="POST" action="{{url_for('adminStat')}}">
        {% if date_e and date_b %}
        Date_b:<input type="date" name="date_b" value="{{ date_b }}">
        Date_e:<input type="date" name="date_e" value="{{ date_e }}">
        {% else %}
        Date_b:<input type="date" name="date_b">
        Date_e:<input type="date" name="date_e">
        {% endif %}
        <br>
        <h4>Methods</h4>
        <input id = 1 type="radio" name="method" value=1 checked>
        <label for=1>Get all orders</label>
        <br>
        <input id = 2 type="radio" name="method" value=2>
        <label for=2>Get top books</label>
        <br>
        <input id = 3 type="radio" name="method" value=3>
        <label for=3>Get all income</label>
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if resultStat%}
        <table>
            <caption>Result</caption>
            <tr>
                <th>Count</th>
                {% for key in resultStat['keys'] %}
                    <th>{{key}}</th>
                {% endfor %}
            </tr>

            {% for row in resultStat['data']%}
            <tr>
                <th>{{ loop.index }}</th>
                {% for i in range(row|length)%}
                <th>{{row[i]}}</th>
                {% endfor %}
            </tr>
            
            {% endfor %}
        </table>
    {% endif %}
  
</body> 
</html> 