<!DOCTYPE html> 
<html>
   <head>
      <title>Админ-статистика</title>
   </head>
   <body>
      <h3>Columns</h3>
      <form method="POST" action="{{ url_for('adminGetProductInfo')  }}" enctype='multipart/form-data'>
         <h3>Methods</h3>
         <input type="radio" id = 1 name="method" value=1 checked>
         <label for=1>Get info of book</label>
         <br>
         <input type="radio" id = 2 name="method" value=2>
         <label for=2>Set new quantity</label>
         <br>
         <input type="radio" id = 3 name="method" value=3>
         <label for=3>Set new description</label>
         <br>
         <input type="radio" id = 4 name="method" value=4>
         <label for=4>Set new price</label>
         <br>
         <input type="radio" id = 6 name="method" value=6>
         <label for=6>Set new tags</label>
         <br>
         <input type="radio" id = 5 name="method" value=5>
         <label for=5>Set new image</label>
         <br>
         <input type="radio" id = 7 name="method" value=7>
         <label for=7>Add new delivery</label>
         <br>
         <div id="method-2-block" hidden>
            <br>
            <input id=20 type="number" name="quantity" min="0">
            <label for=20 >New quantity</label>
            <br>
            <input id=21 type="number" name="productID-2">
            <label for=21 >Product ID</label>
         </div>
         <br>
         <div id="method-1-block">
            <select id="admin-column-select" name="column">
               {% for column in columnNames %}
               <option value="{{column['COLUMN_NAME']}}">{{loop.index}}. {{column['COLUMN_NAME']}}</option>
               {% endfor %}
            </select>
            <br>
            Value:<input type="text" name="value">
         </div>
         <div id="method-4-block" hidden>
            <br>
            <input id=40 type="number" step="0.01" name="price" min="0.00">
            <label for=40 >New price</label>
            <br>
            <input id=41 type="number" name="productID-4">
            <label for=41 >Product ID</label>
         </div>
         <div id="method-3-block" hidden>
            <br>
            <input id=30 type="number" name="productID-3" min="0">
            <label for=30 >Product ID</label>
            <br>
            <textarea id=31 name="desc">Enter new desc</textarea>
            <label for=31 >New desc</label>
         </div>
         <div id="method-6-block" hidden>
            <br>
            <input id=60 type="number" name="productID-6" min="0">
            <label for=60 >Product ID</label>
            <br>
            <input type="text" id=61 name="tags" hint='Enter new tags'></input>
            <label for=61 >New tags</label>
         </div>
         <div id='method-7-block' hidden>
            <br>
            <input id=70 type="number" name="productID-7">
            <label for=70 >Product ID</label>
            <br>
            <input id=71 type="number" name="supplierID">
            <label for=71 >Supplier ID</label>
            <br>
            <input id=72 type="number" name="quantity-delivery">
            <label for=72 >Quantity delivery</label>
            <br>
            <input id=73 type="number" step="0.01" name="cost-purchase-delivery">
            <label for=73 >Cost purchase</label>
            <table>
               <caption>Suppliers</caption>
               <tr>
                   <th>Count</th>
                   {% for key in suppliers['keys'] %}
                       <th>{{key}}</th>
                   {% endfor %}
               </tr>
   
               {% for row in suppliers['data']%}
               <tr>
                   <th>{{ loop.index }}</th>
                   {% for key in suppliers['keys'] %}
                   <th>{{row[key]}}</th>
                   {% endfor %}
               </tr>
               
               {% endfor %}
           </table>
         </div>
         <div id="method-5-block" hidden>
            <br>
            <label>Image:</label><input type="file" name='image' accept="image/png,image/jpeg,image/jpg">
            <input id=50 type="number" name="productID-5" min="0">
            <label for=50 >Product ID</label>
            <br>
         </div>
         <button type="submit">Submit</button>
      </form>
      {% include 'base/admin-table.html' %}
      <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
      <script type="text/javascript">
         var currentBlock = $('#method-1-block')
         
         $('input[type=radio][name=method]').change(function() {
           currentBlock.hide()
         //   console.log('#method-{this.value}-block')
           currentBlock = $(`#method-${this.value}-block`)
           currentBlock.show()
         
         });
         
      </script>
   </body>
</html>