<!DOCTYPE html> 
<html>
   <head>
      <title>Админ-добавление</title>
   </head>
   <body>
      <form method="POST" action="{{url_for('adminAddNew')}}" enctype='multipart/form-data'>
         <label>Название:</label><input id='title' type="text" name="title" required>
         <br>
         <label>Автор:</label><input type="text" name="author" required>
         <br>
         <label>Описание:</label><textarea name="desc"></textarea required>
         <br>
         <label>Изображение:</label><input type="file" name='image' accept="image/png,image/jpeg,image/jpg" required>
         <br>
         <label>Количество:</label><input type="text" name="quantity" required>
         <br>
         <label>Стоимость закупки:</label><input type="text" name="cost_purchase" required>
         <br>
         <label>Стоимость продажи:</label><input type="text" name="cost_sale" required>
         <br>
         <label>Теги(пример:тег1,тег2,....,тегN):</label><input type="text" name="tags" required>
         <button type="submit">Submit</button>
      </form>
      {% if message %}
      <h3>{{message}}</h3>
      {% if productID %}
      <br>
      <a href="{{ url_for('showDetailsOfBook',productID=productID)}}">Ссылка</a>
      {% endif %}
      {% endif %}
   </body>
</html>