
<!DOCTYPE html>
<html lang="zxx">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{  url_for('static',filename='css/bootstrap.min.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/font-awesome.min.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/elegant-icons.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/nice-select.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/jquery-ui.min.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/owl.carousel.min.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/slicknav.min.css')  }}" type="text/css">
<link rel="stylesheet" href="{{  url_for('static',filename='css/style.css')  }}" type="text/css">
</head>
<body>

<div id="preloder">
<div class="loader"></div>
</div>

<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
<div class="humberger__menu__logo">
<a href="#"><img src="img/logo.png" alt=""></a>
</div>
<div class="humberger__menu__cart">
<ul>
<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
</ul>
<div class="header__cart__price">item: <span>$150.00</span></div>
</div>
<div class="humberger__menu__widget">
  {% if user.is_authenticated %}
  <div class="header__top__right__auth">
    <a href="url_for('userInfo')"><i class="fa fa-user"></i> Profile</a>
    </div>
  {% else %}
<div class="header__top__right__auth">
<a href="{{url_for('loginUser')}}"><i class="fa fa-user"></i> Login</a>
</div>
  {% endif %}
</div>
<nav class="humberger__menu__nav mobile-menu">
<ul>
<li class="active"><a href="./index.html">Home</a></li>
<li><a href="./shop-grid.html">Shop</a></li>
<li><a href="#">Pages</a>
<ul class="header__menu__dropdown">
<li><a href="./shop-details.html">Shop Details</a></li>
<li><a href="./shoping-cart.html">Shoping Cart</a></li>
<li><a href="./checkout.html">Check Out</a></li>
<li><a href="./blog-details.html">Blog Details</a></li>
</ul>
</li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./contact.html">Contact</a></li>
</ul>
</nav>
<div id="mobile-menu-wrap"></div>
<div class="header__top__right__social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
<a href="#"><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="humberger__menu__contact">
<ul>
<li>Free Shipping for all Order of $99</li>
</ul>
</div>
</div>


<header class="header">
<div class="header__top">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6">
</div>
<div class="col-lg-6 col-md-6">
<div class="header__top__right">
  {% if user.is_authenticated %}
  <div class="header__top__right__auth">
    <a href="{{url_for('userInfo')}}"><i class="fa fa-user"></i> Profile</a>
    </div>
  {% else %}
<div class="header__top__right__auth">
<a href="{{url_for('loginUser')}}"><i class="fa fa-user"></i> Login</a>
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="header__logo hidden">
<a href="./index.html"><img src="img/logo.png" alt=""></a>
</div>
</div>
<div class="col-lg-3">
  <div class="header__logo hidden">
  <a href="./index.html"><img src="img/logo.png" alt=""></a>
  </div>
  </div>

  <div class="col-lg-3">
    <div class="header__logo hidden">
    <a href="./index.html"><img src="img/logo.png" alt=""></a>
    </div>
    </div>
<div class="col-lg-3">
<div class="header__cart">
<ul>
  {% if user.is_authenticated%}
<li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>{{user.getCountOfItemsInCart()}}</span></a></li>
  {% else %}
<li><a href="{{url_for('loginUser')}}"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
  {% endif %}
</ul>
  {% if user.is_authenticated %}
<div class="header__cart__price">item: <span>{{user.getTotalCostOfCart()}}P</span></div>
  {% else %}
<div class="header__cart__price">item: <span>0P</span></div>

  {% endif %}
</div>
</div>
</div>
<div class="humberger__open">
<i class="fa fa-bars"></i>
</div>
</div>
</header>


<section class="hero">
<div class="container">
<div class="row">
<div class="col-lg-9">
<div class="hero__search">
<div class="hero__search__form">
<form action="{{ url_for('showBooks',page=1) }}" method="GET">
  {% if q%}
<input name="q" type="text" placeholder="What do yo u need?" value = "{{ q }}">
  {%else %}
<input name="q" type="text" placeholder="What do yo u need?">
  {% endif %}
<button type="submit" class="site-btn">SEARCH</button>
</form>
</div>
<div class="hero__search__phone">
<div class="hero__search__phone__icon">
<i class="fa fa-phone"></i>
</div>
<div class="hero__search__phone__text">
<h5>8(800)555-35-35</h5>
<span>support 24/7 time</span>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="featured spad">
<div class="container">
<div class="row featured__filter">
  {% if products %}
  {%  for product in products%}
  <div class="col-lg-3 col-md-4 col-sm-6 mix">
    <div class="featured__item" >
    <div class="featured__item__pic set-bg" 
    data-setbg="{{ url_for('static',filename = product.imageLink)}}">
    <a href="{{url_for('showDetailsOfBook',productID=product.id)}}"></a>
    <ul class="featured__item__pic__hover">
    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
    </div>
    <div class="featured__item__text">
    <h6><a href="{{ url_for('showDetailsOfBook',productID=product.id) }}">{{product.title}}</a></h6>
    <h5>{{product.cost}}P</h5>
    </div>
    </div>
    </div>

    {%  endfor %}
    {% endif %}


</div>
</div>


<footer class="footer spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="footer__about">
 <div class="footer__about__logo">
<a href="./index.html"><img src="img/logo.png" alt=""></a>
</div>
<ul>
<li>12 liniya VO, 51</li>
<li>Phone: 8(800)-555-35-35</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="footer__copyright">
<div class="footer__copyright__text"><p>
Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="baea7c064f6a573d1522ee04-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved
</p></div>
<div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
</div>
</div>
</div>
</div>
</footer>


<script src="{{  url_for('static',filename='js/jquery-3.3.1.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/bootstrap.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/jquery.nice-select.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/jquery-ui.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/jquery.slicknav.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/mixitup.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/owl.carousel.min.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script src="{{  url_for('static',filename='js/main.js')  }}" type="baea7c064f6a573d1522ee04-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="baea7c064f6a573d1522ee04-text/javascript"></script>
<script type="baea7c064f6a573d1522ee04-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="baea7c064f6a573d1522ee04-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"5d1b2c4d3b588474","version":"2020.9.0","si":10}'></script>
</body>
</html>