<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Booker</title>
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
      <!-- Css Styles -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/elegant-icons.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.min.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
   </head>
   <body>
      <!-- Page Preloder -->
      <div id="preloder">
         <div class="loader"></div>
      </div>
      {% include 'base/humberger.html' %}
      {% include 'base/header.html' %}
      {% include 'base/hero.html' %}
      <!-- Checkout Section Begin -->
      <section class="checkout spad">
         <div class="container">
            {% if error %}
            <h4>{{ error }}</h4>
            {% else %}   
            <div class="checkout__form">
               <h4>Оформление</h4>
               <form action="{{url_for('newOrder')}}" method="POST">
                  <div class="row">
                     <div class="col-lg-8 col-md-6">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="checkout__input">
                                 <p>Имя<span>*</span></p>
                                 <input name="first_name" type="text" value="{{ user.first_name }}" required>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="checkout__input">
                                 <p>Фамилия<span>*</span></p>
                                 <input name="last_name" type="text"  value="{{ user.last_name }}" required>
                              </div>
                           </div>
                        </div>
                        <div class="checkout__input">
                           <p>Адрес<span>*</span></p>
                           <input name="district" type="text" placeholder="District*" class="checkout__input__add" required>
                           <input name="street" type="text" placeholder="Street Address*" class="checkout__input__add" required>
                           <input name="house" type="text" placeholder="House*" class="checkout__input__add" required>
                           <input name="floor" type="text" placeholder="Floor" class="checkout__input__add">
                           <input name="flat" type="text" placeholder="Apartment" class="checkout__input__add">
                           <input name="porch" type="text" placeholder="Porch" class="checkout__input__add">
                        </div>
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="checkout__input">
                                 <p>Телефон<span>*</span></p>
                                 <input name="phone" type="text" required>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="checkout__input">
                                 <p>Email<span></span></p>
                                 <input name="email" type="text" placeholder="You will receive an email">
                              </div>
                           </div>
                        </div>
                        <!-- <div class="checkout__input">
                           <p>Account Password<span>*</span></p>
                           <input type="text">
                           </div> -->
                        <div class="checkout__input">
                           <p>Дополнительное описание</p>
                           <input type="text" name='desc'
                              placeholder="Notes about your order, e.g. special notes for delivery.">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                           <h4>Ваш заказ</h4>
                           <div class="checkout__order__products">Книги <span>Всего</span></div>
                           <ul>
                              {% for product in productsInCart %}
                              <li>{{product.title}}<span>{{ product.total }}</span></li>
                              {% endfor %}
                           </ul>
                           <!-- <div class="checkout__order__subtotal">Subtotal <span>{{total}}</span></div> -->
                           <div class="checkout__order__total">Итого <span>{{user.getTotalCostOfCart()}}</span></div>
                           <div class="checkout__input__checkbox">
                           </div>
                           <button type="submit" class="site-btn">ОФОРМИТЬ</button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            {% endif %}
         </div>
      </section>
      <!-- Checkout Section End -->
      {% include 'base/footer.html' %}
      <!-- Js Plugins -->
      <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery.slicknav.js')}}"></script>
      <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/main.js')}}"></script>
   </body>
</html>