<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
    <style type="text/css">

    .pro-qty-cart {
	width: 140px;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 5px;
}

.pro-qty-cart input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #6f6f6f;
	width: 50px;
	border: none;
	background: #f5f5f5;
	text-align: center;
}

.pro-qty-cart .qtybtn {
	width: 35px;
	font-size: 16px;
	color: #6f6f6f;
	cursor: pointer;
	display: inline-block;
}
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
        <a href="{{ url_for('showBooks',page = 1)}}"><img src="{{ url_for('static',filename='img/logo.png') }}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
        <ul>
        <li>
          <a href="/cart">
          <i class="fa fa-shopping-bag"></i>
          {% if user.is_authenticated %}
           <span id="humberg__fa__fa-shopping-bag__indicator__quantity">{{user.getCountOfItemsInCart()}}</span>
           {% else %}
           <span id="fa__fa-shopping-bag__indicator__quantity">0</span>
           {% endif %}
        </a>
        </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="header__cart__price">Item: <span id="humberg__header__cart__price__totalCost">{{user.getTotalCostOfCart()}}P</span></div>
        {% else %}
        <div class="header__cart__price">Item: <span>0.0P</span></div>
        {% endif %}
        </div>
        <div class="humberger__menu__widget">
          {% if user.is_authenticated %}
          <div class="header__top__right__auth">
            <a href="{{url_for('userInfo')}}"><i class="fa fa-user"></i> Profile</a>
            </div>
          {% else %}
        <div class="header__top__right__auth">
        <a href="{{url_for('loginUser')}}"><i class="fa fa-user"></i> Login</a>
        </div>
          {% endif %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__contact">
        <ul>
        <li>Free Shipping for all Order of $99</li>
        </ul>
        </div>
        </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
       
<div class="header__top">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-6">
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="header__top__right">
      {% if user.is_authenticated %}
      <div class="header__top__right__auth">
        <nav class="header__menu">
          <ul>
              <li><a href="#"><span><i class="fa fa-user"></i> Profile</span></a>
                  <ul class="header__menu__dropdown">
                    <li><a href="{{ url_for('userInfo')}}">Information</a></li>
                    <li><a href="{{ url_for('showOrders')}}">Orders</a></li>
                    <li><a href="{{ url_for('logoutUser')}}">Exit</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
    </div>
      {% else %}
    <div class="header__top__right__auth">
    <a href="{{url_for('loginUser')}}"><i class="fa fa-user"></i> Login</a>
    </div>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="header__logo">
    <a href="{{ url_for('showBooks',page=1) }}"><img width="30%" height="30%" src="{{ url_for('static',filename = 'img/logo.png') }}" alt=""></a>
    </div>
    </div>
    <div class="col-lg-3">
      <div class="header__logo hidden">
      <a href="./index.html"><img src="img/logo.png" alt=""></a>
      </div>
      </div>
    
      <div class="col-lg-3">
        <div class="header__logo hidden">
        <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        </div>
    <div class="col-lg-3">
    <div class="header__cart">
    <ul>
      {% if user.is_authenticated%}
    <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span id="fa__fa-shopping-bag__indicator__quantity">{{user.getCountOfItemsInCart()}}</span></a></li>
      {% else %}
    <li><a href="{{url_for('loginUser')}}"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
      {% endif %}
    </ul>
      {% if user.is_authenticated %}
    <div class="header__cart__price">item: <span id="header__cart__price__totalCost">{{user.getTotalCostOfCart()}}P</span></div>
      {% else %}
    <div class="header__cart__price">item: <span>0.0P</span></div>
    
      {% endif %}
    </div>
    </div>
    </div>
    <div class="humberger__open">
    <i class="fa fa-bars"></i>
    </div>
    </div>
        </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
          <div class="row">
          <div class="col-lg-12">
          <div class="hero__search">
          <div class="hero__search__form">
          <form action="{{ url_for('showBooks',page=1) }}" method="GET">
            {% if q%}
          <input name="q" type="text" placeholder="What do yo u need?" value = "{{ q }}">
            {%else %}
          <input name="q" type="text" placeholder="What do yo u need?">
            {% endif %}
          <button type="submit" class="site-btn">SEARCH</button>
          </form>
          </div>
          <a class="site-btn" href="{{ url_for('searchAdvanced')}}">ADVANCED SEARCH</a>
          <div class="hero__search__phone">
          <div class="hero__search__phone__icon">
          <i class="fa fa-phone"></i>
          </div>
          <div class="hero__search__phone__text">
          <h5>8(800)555-35-35</h5>
          <span>support 24/7 time</span>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Orders</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if not error%}
                                {% if ordersList|length == 0 %}
                                <tr><td>Empty</td></tr>
                                {% else %}

                                {% for order in ordersList %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        
                                        <h5><a style="text-decoration: none;" href="{{ url_for('showDetailsOfOrder',orderID=order.id)}}">Order№{{ order.id}}</a></h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        Status is HERE
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty-cart">
                                                {{order.date}}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{order.total}}P
                                    </td>
                                </tr>
                                {% endfor %}
                                {%endif%}
                                {% else %}
                                <tr><td>{{error}}</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{{ url_for('showBooks',page=1) }}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{{ url_for('showBooks',page=1) }}"><img width = 20% height = 20% src="{{ url_for('static',filename='img/logo.png') }}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 12 liniya 51, VO</li>
                            <li>Phone: 8(800)-555-35-35</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="{{url_for('static',filename='img/payment-item.png')}}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>


</body>

</html>